<template>
  <h1>Actualizar</h1>
  <form v-on:submit.prevent="actualizarEstudiante">
    <input type="text" v-model="nombre" placeholder="nombre" />
    <br />
    <input type="text" v-model="cedula" placeholder="cedula" />
    <br />
    <button type="submit">Actualizar</button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  name: "ActualizarEstudiante",
  props: ["nombre", "cedula", "id"],
  methods: {
    actualizarEstudiante: function() {
      axios
        .put("http://127.0.0.1:8000/estudiante/" + this.id, {
          nombre: this.nombre,
          cedula: this.cedula,
        })
        .then((respuesta) => {
          alert("Estudiante actualizado exitosamente!");
        })
        .catch(() => {
          alert("Error al actualizar el estudiante");
        });
    },
  },
  created: function() {},
};
</script>

<style></style>
