<template>
  <h2>Crear Estudiante</h2>

  <form>
    <input v-model="estudiante.nombre" placeholder="nombre" />
    <input v-model="estudiante.cedula" placeholder="cedula" />
    <button v-on:click="crearEstudiante">Crear</button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  name: "CrearEstudiante",

  data: function() {
    return {
      estudiante: {
        nombre: "",
        cedula: "",
      },
    };
  },

  methods: {
    crearEstudiante: function() {
      axios
        .post("http://127.0.0.1:8000/estudiante/", this.estudiante)
        .then((respuesta) => {
          this.estudiante.nombre = "";
          this.estudiante.cedula = "";
          alert(respuesta.data.mensaje);
        })
        .catch((error) => {
          alert("Error creando el estudiante");
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
