<template>
  <h2>Lista de Estudiantes</h2>

  <div v-for="estudiante in lista_estudiantes" class="cuadro_estudiante">
    <p>{{ estudiante.nombre }}</p>
    <p>{{ estudiante.cedula }}</p>
    <button v-on:click="borrarEstudiante(estudiante.id)">eliminar</button>
    <button v-on:click="irAActualizarEstudiante(estudiante)">actualizar</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ListaEstudiantes",

  data: function() {
    return {
      lista_estudiantes: [],
    };
  },

  methods: {
    borrarEstudiante: function(id) {
      axios
        .delete("http://127.0.0.1:8000/estudiante/" + id)
        .then((respuesta) => {
          alert("El estudiante se eimino exitosamente ");
          this.actualizarLista();
        })
        .catch((error) => {
          alert("Error borrando el estudiantes");
          console.log(error);
        });
    },

    irAActualizarEstudiante: function(estudiante) {
      this.$router.push({
        name: "actualizarE",
        params: {
          id: estudiante.id,
          nombre: estudiante.nombre,
          cedula: estudiante.cedula,
        },
      });
    },

    actualizarLista: function() {
      axios
        .get("http://127.0.0.1:8000/estudiante/")
        .then((respuesta) => {
          this.lista_estudiantes = respuesta.data;
        })
        .catch((error) => {
          alert("Error obteniendo los estudiantes");
          console.log(error);
        });
    },
  },

  created: function() {
    this.actualizarLista();
  },
};
</script>

<style>
.cuadro_estudiante {
  border: 1px solid;
  width: 20%;
  background-color: antiquewhite;
  margin: auto;
}

body {
  text-align: center;
}
</style>
