<template>
  <h1>Universidad App</h1>

  <nav>
    <button v-on:click="irAListaEstudiantes">Lista de estudiante</button>
    <button v-on:click="irAAgregarEstudiante">Agregar estudiante</button>
  </nav>

  <router-view></router-view>
</template>

<script>
export default {
  name: "App",

  methods: {
    irAListaEstudiantes: function() {
      this.$router.push({ name: "listarE" });
    },
    irAAgregarEstudiante: function() {
      this.$router.push({ name: "crearE" });
    },
  },
};
</script>

<style></style>
